= form_for @local do |f|
  - if @local.errors.any?
    #error_explanation
      %h2= "#{pluralize(@local.errors.count, "error")} erros:"
      %ul
        - @local.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.field
      %td= f.label :name
      %td= f.text_field :name, :class => "validate[required]"

    %tr.field
      %td= f.label :category
      %td= f.text_field :category

    %tr.field
      %td= f.label :address
      %td= f.text_field :address

    %tr.field
      %td= f.label :cep
      %td= f.text_field :cep

    %tr.field
      %td= f.label :city
      %td= f.text_field :city

    %tr.field
      %td= f.label :state
      %td= f.select :state, state_shortnames

    %tr.field
      %td= f.label :cnpj
      %td= f.text_field :cnpj

    %tr.field
      %td= f.label :company_name
      %td= f.text_field :company_name

    %tr.field
      %td= f.label :observations
      %td= f.text_area :observations

    %tr
      %td.actions{:colspan => 2}= f.submit 'Salvar'
