%h1 Listing locals

%table
  - @locals.each do |local|
    %tr
      %td= link_to local.name, local_path(local.id)
      %td= local.address

      %td
        = best_in_place local, :city, :type => :input
        ,
        = best_in_place local, :state, :type => :select

      %td= best_in_place local, :company_name, :type => :input

= render 'common/pagination', :elements => @locals
