.actions
  = link_to "Excluir", @local, :method => :delete, :confirm => "Esta ação não pode ser desfeita. Deseja continuar?"

%h1.entity-view
  = best_in_place @local, :name, :type => :input

%p= best_in_place @local, :category, :type => :input
%p= best_in_place @local, :address, :type => :input

%p
  = best_in_place @local, :city, :type => :input
  ,
  = best_in_place @local, :state, :type => :select
  \ -
  = best_in_place @local, :cep, :type => :input

%p
  = best_in_place @local, :company_name, :type => :input
  ,
  = best_in_place @local, :cnpj, :type => :input
