= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.field
      %td= f.label :name
      %td= f.text_field :name, :class => "validate[required]"

    %tr.field
      %td= f.label :email
      %td= f.text_field :email, :class => "validate[required,custom[email]]"

    %tr.field
      %td= f.label :title
      %td= f.text_field :title

    %tr.field
      %td= f.label :observations
      %td= f.text_area :observations

    %tr
      %td.actions{:colspan => 2}= f.submit 'Salvar'
