.actions
  = link_to "Excluir", @client, :method => :delete, :confirm => "Esta ação não pode ser desfeita. Deseja continuar?"
  \|
  Enviar E-Mail

%h1.entity-view
  = best_in_place @client, :title, :type => :input
  = best_in_place @client, :name, :type => :input

%p.email= best_in_place @client, :email, :type => :input

= render '/locals/editable_line', :push_url => client_path(@client.id, :format => 'json'), :local => @client.local, :id => 'client-'+@client.id.to_s+'-local-edit'

%h3 Observações
%pre.observations= best_in_place @client, :observations, :type => :textarea
