= form_for @lead do |f|
  - if @lead.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lead.errors.count, "error")} erros::"
      %ul
        - @lead.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr.field
      %td= f.label :subject
      %td= f.text_field :subject, :class => "validate[required]"

    %tr.field
      %td= f.label :is_service
      %td= f.check_box :is_service

    %tr.field
      %td= f.label :observations
      %td= f.text_area :observations

    %tr
      %td.actions{:colspan => 2}= f.submit 'Iniciar Histórico'
