%h1 Meus Históricos

%table.entity-list
  - @leads.each do |lead|
    %tr
      %td= link_to lead.subject, lead_path(lead.id)
      %td= lead.status
      %td= human_datetime lead.last_event_on
      %td= human_datetime lead.created_at

= render 'common/pagination', :elements => @leads
