.actions Desabilitar

%h1.entity-view= best_in_place @lead, :subject, :type => :input
%p.explain= 'Criado em '+human_datetime(@lead.created_at)+', último evento em '+human_datetime(@lead.last_event_on)

%p
  %b Status:
  = @lead.status
%p
  %b Has pendencies:
  = @lead.has_pendencies
%p
  %b Has file pendencies:
  = @lead.has_file_pendencies
%p
  %b Disabled:
  = @lead.disabled

%h2 Histórico
= render 'lead_entries/form'

.lead_entries#load-appendable{ :data => {:loading => {:lead_id => @lead.id}.to_json } }
  = render 'lead_entries/list'

= render 'common/loading_more', url: lead_entries_path(format: :json)
