.actions Desabilitar

%h1.entity-view= best_in_place @lead, :subject, :type => :input
%p.explain= 'Criado em '+human_datetime(@lead.created_at)+', último evento em '+human_datetime(@lead.last_event_on)

%p
  %b Status:
  = @lead.status
%p
  %b Has pendencies:
  = @lead.has_pendencies
%p
  %b Has file pendencies:
  = @lead.has_file_pendencies
%p
  %b Disabled:
  = @lead.disabled

= link_to 'Edit', edit_lead_path(@lead)
\|
= link_to 'Back', leads_path
