%p#notice= notice

%p
  %b Text:
  = @lead_entry.text
%p
  %b Date:
  = @lead_entry.date
%p
  %b Relation:
  = @lead_entry.relation

= link_to 'Edit', edit_lead_entry_path(@lead_entry)
\|
= link_to 'Back', lead_entries_path
